body {
  font-family: 'Roboto', sans-serif;
}

.gs-mast {
  padding: 50px 0;
  position: relative;
  background-color: #00B945;
  background-image: linear-gradient(to bottom, #00B945, #00BF45);
  text-align: center
}

.gs-mast .lead, h1 {
  margin: 30px;
}

.navbar {
  margin-bottom: 0px;
}

.icon {
  background-color: #00BF45;
  margin-right: 5px;
  height: 30px;
}
